body{
	background-image: url("../images/subtle_grunge.png");
	padding:0;
}

h1{
	font-size: 50px;
	color: #f2f2f2;
}
h2{
	padding:20px;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 0;
}
h3{
	margin-bottom: 0;
	margin-top: 0;
	padding:15px;
	font-size: 20px;
}
td, th {    
    border-bottom: 1px solid #2f2f2f;
}
table{
	margin-top: 20px;
	width:100%;
	border: 1px solid #2f2f2f;
	background:#f2f2f2;
}
th, td {
    padding: 15px;
}
th{
	background:#2f2f2f;
	color:#f2f2f2;
}

p{
	margin-left: 15px;
	margin-right: 15px;
}

.box{
	margin-top: 20px;
}

.boxBody{
	background: #f2f2f2;
	color:#2f2f2f;
	font-size: 16px;
	line-height: 1.8;
}

.boxHeader{
	background:#2f2f2f;
	color:#f2f2f2;
}

.choicesContainer{
	border-bottom: 1px solid #2f2f2f;
}

.closeButton{
	position:absolute;
	top:15px;
	right:20px;
	background:#ccc;
	color:#2f2f2f;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: middle;
	border-radius: 4px;
}

.closeButton:hover,
.closeButton:active{
	cursor: pointer;
	background: #c92626;
	color:#f2f2f2;
}

.finalChoice{
	padding:15px;
}

.gameRoom{
	border-radius: 4px;
	margin-top: 20px;
	background-image: url("../images/mochaGrunge.png");
	margin-bottom: 20px;
	border:1px solid #2f2f2f;
}

.gameRoomChat{
	margin-top: 20px;
	margin-bottom: 20px;
}

.gameRoomHeader{
	position:relative;
	background:#2f2f2f;
	color:#f2f2f2;
}


.messageFormContainer{
	width:100%;
}

.messageHistory{
	height:200px;
	width:100%;
	background: #f2f2f2;
	overflow: scroll;
}

.messageInput{
	padding:5px;
	border:none;
}

#messageSendButton{
	float:right;
	width:10%;
}

#messageTextInput{
	float:left;
	width:90%;
}

.myChoice{
	padding:15px;
}

.myChoice:hover,
.myChoice:active{
	background:#ccc;
	cursor:pointer;
}

#myGameRoom{
	display: none;
}

#myHeader{
	background:#2f2f2f;
}

.mySmall{
	color:#f2f2f2;
}

.navbar{
	background-color: #2f2f2f;
}

#newSessionFormContainer{
	display: inline-block;
}

#notLoggedInScreen{
	text-align: center;
	width:100%;
	font-size: 20px;
	padding: 20px;
	display: none;
}

.page-header{
	border-bottom: none;
}

.playerInfo{
	padding:15px;
}

.resultDiv{
	text-align: center;
}

#refreshSessionsTableButton{
	display: inline-block;
	float:right;
}

.sessionRow:hover{
	cursor: pointer;
	background-color: #ccc;
}

#sessionsTableContainer{
	display: none;
	margin-top: 20px;
}

#userFormContainer{
	position: relative;
}

.userInfoInput{
	display: none;
}

#userNameP{
	color:#f2f2f2;
	margin-right: 10px;
}